#app-root {
  height: 100%;
  width: 100%;
  .greeting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #ccc;
    .greet-message {
      font-size: clamp(5vw, 10vw, 15vw);
    }
  }
}
